body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

// <body> is a flex column comprised of <header><main><footer> tags
body {
  // This is the mobile version
  // desktop mode is handled as a media-query below
  display: flex;
  height: 100vh;
  flex-direction: column;

  header {
    // <header> is comprised of <button#menu-toggle><h1><nav#top-nav>
    // its layout changes depending on browser window width
    background-color: lightgray;
    height: fit-content;
    display: flex;
    align-items: center;

    h1 {
      margin: 0 1rem;
    }

    // This is the mobile "sliding-side-bar" version
    nav#top-nav {
      background-color: darkgray;
      border-right: solid dimgray;
      height: 100vh;
      left: calc(9.8rem - 100vw);
      position: absolute;
      top: 0;
      transition: left 0.25s;
      width: calc(100vw - 10rem);

      ul {
        list-style: none;
        margin: 0;
        padding: 0;
        li {
          font-size: 1.3rem;
          font-weight: bold;
          margin: 1rem 2rem;

          a {
            color: black;
            text-decoration: none;

            &:hover,
            &.is-selected {
              text-decoration: underline;
            }
          }
        }
      }

      // This is added to <nav#top-nav> when <button#menu-toggle> is clicked
      &.is-open {
        left: 0;
      }
    }
  }

  // All presentation components (pages) should go in <main>
  main {
    flex-grow: 1;
    display: flex;
    scroll-snap-type: x mandatory;
    overflow: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    touch-action: pan-x;

    // Much of .page is devoted to scrolling and snapping
    .page {
      scroll-snap-align: start;
      background-color: lightgray;
      border: solid darkgray;
      border-top: solid dimgray;
      border-bottom: solid #ddd;
      box-sizing: border-box;
      height: 100%;
      padding-top: 1rem;
      transition: all 1s;
      flex-shrink: 0;
      width: 100vw;

      h1 {
        margin: 0 1rem;
      }
    }
  }

  footer {
    height: fit-content;
    background-color: lightgray;
    p {
      margin: 0 1rem;
    }
  }
}

button#menu-button,
button#nav_close-button {
  appearance: unset;
  background-color: transparent;
  border: none;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

// This is the desktop version
@media screen and (min-width: 900px) {
  body {
    header {
      height: 5rem;
      h1 {
        margin: 0 5rem 0 1rem;
      }
      button#menu-button {
        display: none;
      }
      // nav#top-nav is changed quite drastically
      // from a pop-in side-bar to an always-on header menu
      nav#top-nav {
        background-color: unset;
        display: flex;
        height: unset;
        position: unset;
        width: unset;
        flex-grow: 1;
        button#nav_close-button {
          display: none;
        }
        ul {
          align-items: center;
          display: flex;
          justify-content: space-between;
          max-width: 20rem;
          width: 100%;
          li {
            margin: 0;
          }
        }
      }
    }
    main {
      overflow-x: hidden;
    }

    footer {
      p {
        margin: 1rem;
      }
    }
  }
}
